@import '../main.styles.scss';
button {
    padding: 10px;
    white-space: normal;
}
.tertiary-dashboard-button {
    color: #7f929e;
    background-color: rgba(127, 146, 158, 0.12);
    transition: all 0.3s ease;
    border: 2px solid transparent;
    border-radius: 6px;
}
.tertiary-dashboard-button:hover {
    background-color: rgba(127, 146, 158, 0.12);
    box-shadow: 0px 1px 18px 0px rgba(black, 0.12), 0px 6px 10px 0px rgba(black, 0.14), 0px 3px 5px -1px rgba(black, 0.2);
    border-color: rgb(102, 117, 126);
    color: rgb(102, 117, 126);
}
.primary-dashboard-button {
    color: #0075be;
    background-color: rgba(0, 117, 190, 0.12);
    transition: all 0.3s ease;
    border: 2px solid transparent;
    border-radius: 6px;
}
.primary-dashboard-button:hover {
    background-color: rgba(0, 117, 190, 0.12);
    box-shadow: 0px 1px 18px 0px rgba(black, 0.12), 0px 6px 10px 0px rgba(black, 0.14), 0px 3px 5px -1px rgba(black, 0.2);
    border-color: rgb(0, 94, 152);
    color: rgb(0, 94, 152);
}

.secondary-dashboard-button {
    color: rgb(149, 117, 205);
    background-color: rgba(149, 117, 205, 0.12);
    transition: all 0.3s ease;
    border: 2px solid transparent;
    border-radius: 6px;
}
.secondary-dashboard-button:hover {
    background-color: rgba(149, 117, 205, 0.12);
    box-shadow: 0px 1px 18px 0px rgba(black, 0.12), 0px 6px 10px 0px rgba(black, 0.14), 0px 3px 5px -1px rgba(black, 0.2);
    border-color: #5e35b1;
    color: #5e35b1;
}