<mat-card fxLayout fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="start stretch" style="height: 100%; overflow-y: auto; margin: 8px; overflow-x: hidden;">
  <mat-card-content fxLayout="column" fxLayoutAlign="start stretch" style="position: relative;">
    <mat-toolbar class="profile" style="margin-bottom: 20px;">
      <span>
        <div class="toolbar-header-icon-container">
          <mat-icon class="toolbar-header-icon" fontSet="mdi" fontIcon="mdi-store"></mat-icon>
        </div>
      </span>
      <span>Vending Machines
      </span>
    </mat-toolbar>
    <table class="table table-simple">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr class="hover-row" *ngFor="let item of vendingMachines" routerLink="{{item.id}}">
          <td class="align-left" style="vertical-align: middle;">
            {{item.name}}
          </td>
          <td class="align-left" style="vertical-align: middle;">
            Food
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>